{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div id="form-auth">
    <section id="section-page-title">
        <h2>Mot de passe oublié</h2>
    </section>

    <section id="form-login">
        <form method="post">
            <div class="bloc-input">
                <label for="email" class="label email-label">Email</label>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>

            <div class="bloc-button">
                <div class="bloc-login">
                    <button class="button button-login"  name="form-forgot-password" type="submit">Envoyer</button>
                </div>
                <div class="bloc-inscription">
                    <a class="button button-inscription" href="">Connexion</a>
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}
