{% extends "base.html.twig" %}

{% block body %}
    <main id="conaintener-howItWorks">
        <h1>
            Comment ça marche
        </h1>
    
        <section>
            <p>
                <b>Ebla Moteur de Croissance</b> est une plateforme d’indexation libérée des règles des moteurs de recherche classiques pour but de favoriser les TPE’s et les PME’s. Elle vise à les accompagner dans la prise de décessions rationalisées tout au long de leur quotidien dès la création. Elle permet de trouver des clients et des meilleurs offres, d’être visible sur le web et de collaborer avec ses clients et ses fournisseurs.
            </p>
    
            <div>
                <a href="{{ path('register') }}">S'INSCRIRE</a>
            </div>
            <div>
                <ul>
                    <li>Être visible sur le web</li>
                    <li>Trouver les meilleures offres</li>
                    <li>Accompagnement dédié</li>
                    <li>Collabotation digitalisée</li>
                </ul>
            </div>
        </section>
    
        <section>
            <div class="block-title-section">
                <h2>ÉTAPE 1</h2>
                <h3>Définition de Projet</h3>
            </div>
            <p>
                Inscrivez-vous sur la plateforme et communiquez avec notre équipe commerciale pour définir votre vision sur l’évolution de votre projet et déterminer où se positionner sectoriellement et géographiquement.
            </p>
            <div>
                <ul>
                    <li>S'inscrire gratuitement</li>
                    <li>Travailler avec notre équipe</li>
                    <li>Définir son positionnement</li>
                </ul>
            </div>
        </section>
    
        <section>
            <div class="block-title-section">
                <h2>ÉTAPE 2</h2>
                <h3>Recherche et Stratégie</h3>
            </div>
            <p>
                Notre équipe vous accompagne dans l’identification de votre clientèle, la construction d’une stratégie et la proposition de valeur commerciale pour être mieux référencé et  réaliser ses objectifs de ventes.
            </p>
            <div>
                <ul>
                    <li>Identifier sa clientèle et se besoins</li>
                    <li>Construite sa stratégie commerciale</li>
                    <li>Proposer une bonne offre commerciale</li>
                </ul>
            </div>
        </section>
    
        <section>
            <div class="block-title-section">
                <h2>ÉTAPE 3</h2>
                <h3>S'adapter au marché</h3>
            </div>
            <p>
                Interagir avec le marché et avec les mises à jour qui tombent grâce aux informations et à l’assistance de notre équipe, le système offrira une expérience utilisateur constamment améliorée
            </p>
            <div>
                <ul>
                    <li>Vendre et profiter du ssystème</li>
                    <li>Faire évoluer sa réponse au marché</li>
                    <li>Améliorer son modèle économique</li>
                </ul>
            </div>
        </section>
    
        <section>
            <div class="block-title-section">
                <h2>ÉTAPE 4</h2>
                <h3>Faire la bague dans une chaîne</h3>
            </div>
            <p>
                Le système permettra aux TPEs et PMEs de construire des alliances sectorielles et géographiques pour pouvoir en fin travailler ensemble et fonctionner comme une grande entreprise sans avoir besoin de s’unir dans une seule boîte légale. Ce qui, à côté de l’information fournie, servira à réduire au maximum l’impact de la taille d’une entreprise sur sa capacité à être compétitive, évolutive et à se développer sur le marché. 
            </p>
        </section>
    </main>
{% endblock %}