{% extends "base.html.twig" %}

{% block body %}
    <main id="conaintener-privacyPolicy">
        <h1>
            Politique de confidentialité
        </h1>
        <section>
            <h2>
                À propos de cette politique de cookies
            </h2>
            <p>
                Cette politique en matière de cookies explique ce que sont les cookies et comment nous les utilisons, les types de cookies que nous utilisons, c’est-à-dire les informations que nous collectons à l’aide de cookies et comment ces informations sont utilisées, et comment contrôler les préférences de cookies. Pour plus d’informations sur la manière dont nous utilisons, stockons et gardons vos données personnelles en sécurité, consultez notre Politique de confidentialité.
            </p>
            <p>
                Vous pouvez à tout moment modifier ou retirer votre consentement à la déclaration relative aux cookies sur notre site Web. Apprenez-en plus sur qui nous sommes, comment vous pouvez nous contacter et comment nous traitons les données personnelles dans notre politique de confidentialité. Votre consentement s’applique au domaine suivant: <a href="{{ path('home') }}">www.ebla.fr</a>
            </p>
        </section>
    
        <section>
            <h2>
                Que sont les cookies?
            </h2>
            <p>
                Les cookies sont de petits fichiers texte utilisés pour stocker de petites informations. Ils sont stockés sur votre appareil lorsque le site Web est chargé sur votre navigateur. Ces cookies nous aident à faire fonctionner correctement le site Web, à le rendre plus sécurisé, à offrir une meilleure expérience utilisateur, à comprendre comment le site Web fonctionne, et à analyser ce qui fonctionne et où il doit être amélioré.
            </p>
        </section>
    
        <section>
            <h2>
                Comment utilisons-nous les cookies?
            </h2>
            <p>
                Comme pour la plupart des services en ligne, notre site Web utilise des cookies propriétaires et tiers à plusieurs fins. Les cookies de première partie sont principalement nécessaires au bon fonctionnement du site Web et ils ne collectent aucune de vos données personnellement identifiables.
            </p>
            <p>
                Les cookies tiers utilisés sur notre site Web servent principalement à comprendre comment le site Web fonctionne, comment vous interagissez avec notre site Web, à garder nos services sécurisés, à fournir des publicités pertinentes pour vous, et dans l’ensemble, vous fournir un utilisateur meilleur et amélioré. expérience et aide à accélérer vos futures interactions avec notre site Web.
            </p>
        </section>
    
        <section>
            <h2>
                Quels types de cookies utilisons-nous?
            </h2>
            <p>
                Essentiel: certains cookies sont essentiels pour que vous puissiez profiter de toutes les fonctionnalités de notre site. Ils nous permettent de maintenir les sessions utilisateurs et de prévenir toute menace de sécurité. Ils ne collectent ni ne stockent aucune information personnelle. Par exemple, ces cookies vous permettent de vous connecter à votre compte et d’ajouter des produits à votre panier, et de commander en toute sécurité.
            </p>
            <p>
                Statistiques: ces cookies stockent des informations telles que le nombre de visiteurs sur le site Web, le nombre de visiteurs uniques, les pages du site Web visitées, la source de la visite, etc. Ces données nous aident à comprendre et à analyser les performances du site Web. et là où elle doit être améliorée.
            </p>
            <p>
                Marketing: Notre site Web affiche des publicités. Ces cookies sont utilisés pour personnaliser les publicités que nous vous montrons afin qu’elles soient significatives pour vous. Ces cookies nous aident également à suivre l’efficacité de ces campagnes publicitaires.
            </p>
            <p>
                Les informations stockées dans ces cookies peuvent également être utilisées par les fournisseurs de publicité tiers pour vous montrer également des publicités sur d’autres sites Web sur le navigateur.
            </p>
            <p>
                Fonctionnel: Ce sont les cookies qui aident certaines fonctionnalités non essentielles de notre site Web. Ces fonctionnalités incluent l’intégration de contenu tel que des vidéos ou le partage de contenu du site Web sur des plateformes de médias sociaux.
            </p>
            <p>
                Préférences: ces cookies nous aident à stocker vos paramètres et vos préférences de navigation, comme les préférences linguistiques, afin que vous ayez une expérience meilleure et efficace lors de vos futures visites sur le site Web.
            </p>
        </section>
        
        <section>
            <h2>
                Comment puis-je contrôler les préférences des cookies?
            </h2>
            <p>
                Si vous décidez de modifier vos préférences ultérieurement au cours de votre session de navigation, vous pouvez cliquer sur l’onglet “Politique de confidentialité et de cookies” sur votre écran. Cela affichera à nouveau l’avis de consentement, vous permettant de modifier vos préférences ou de retirer votre consentement entièrement.
            </p>
            <p>
                En plus de cela, différents navigateurs proposent différentes méthodes pour bloquer et supprimer les cookies utilisés par les sites Web. Vous pouvez modifier les paramètres de votre navigateur pour bloquer / supprimer les cookies. Pour en savoir plus sur la gestion et la suppression des cookies, visitez <a href="https://fr.wikipedia.org/wiki/Cookie_(informatique)">wikipedia.org</a>, ou <a href="https://www.allaboutcookies.org/">allaboutcookies.org</a>.
            </p>
        </section>
    </main>
{% endblock %}