<form method="post">
    <div class="bloc-input">
        <label class="label name-label" for="name">Nom</label>
        <input type="text" name="name" id="name" placeholder="Nom">
    </div> 
    
    <div class="bloc-button">
        <div class="bloc-login">
            <button class="button button-login" type="submit">Envoyer</button>
        </div>
        <div class="bloc-inscription">
            <button class="button button-inscription" onclick="deleteForm()">Retour</button>
        </div>
    </div>
</form>

